mqtt:
  host: 10.73.19.192
  user: mqttclient
  password: mqttclient

tls:
  enabled: true

auth:
  enabled: true

detectors:
  coral:
    type: edgetpu
    device: usb

face_recognition:
  enabled: true

lpr:
  enabled: true

detect:
  enabled: True

objects:
  track:
    - person
    - cat
    - dog
    - car

review:
  alerts:
    enabled: True
    labels:
      - car
      - person
      - cat
      - dog
  detections:
    enabled: True
    labels:
      - car
      - person
      - cat
      - dog

motion:
  enabled: True

record:
  enabled: True

semantic_search:
  enabled: False

# genai:
#   enabled: False
    # provider: ollama
    # base_url: http://localhost:11434
    # prompt: ""

cameras:
  office:
    enabled: true
    ffmpeg:
      inputs:
        - path: rtsp://omoikane:k4m1z4m4@10.73.19.171:554/stream1
          roles:
            - detect
    detect:
      enabled: true
    face_recognition:
      enabled: true
    review:
      alerts:
        labels:
          - cat
          - dog
          - person
      detections:
        labels:
          - dog
          - cat
          - person
    notifications:
      enabled: true
    motion:
      mask: 0,0,0.353,0,0.353,0.08,0,0.08
  cerco:
    enabled: true
    ffmpeg:
      inputs:
        - path: rtsp://omoikane:k4m1z4m4@10.73.19.182:554/stream1
          roles:
            - detect
    detect:
      enabled: true
    face_recognition:
      enabled: true
    review:
      alerts:
        labels:
          - cat
          - dog
          - person
      detections:
        labels:
          - dog
          - cat
          - person
    notifications:
      enabled: true
    motion:
      mask: 0,0,0.353,0,0.353,0.08,0,0.08
  garage:
    enabled: true
    ffmpeg:
      inputs:
        - path: rtsp://omoikane:k4m1z4m4@10.73.19.183:554/stream1
          roles:
            - detect
    detect:
      enabled: true
    lpr:
      enabled: true
    face_recognition:
      enabled: true
    review:
      alerts:
        labels:
          - cat
          - dog
          - person
      detections:
        labels:
          - dog
          - cat
          - person
    notifications:
      enabled: true
    motion:
      mask: 0,0,0.353,0,0.353,0.08,0,0.08
  Livingroom:
    enabled: true
    ffmpeg:
      inputs:
        - path: rtsp://omoikane:k4m1z4m4@10.73.19.103/stream1
          roles:
            - detect
    detect:
      enabled: true
    face_recognition:
      enabled: true
    review:
      alerts:
        labels:
          - cat
          - dog
          - person
      detections:
        labels:
          - dog
          - cat
          - person
    notifications:
      enabled: true
    motion:
      mask: 0,0,0.353,0,0.353,0.08,0,0.08
  # test:
  #   ffmpeg:
  #     inputs:
  #       - path: /media/security/car-stopping.mp4
  #         input_args: -re -stream_loop -1 -fflags +genpts
  #         roles:
  #           - detect
  #           - rtmp
  #   detect:
  #     height: 1080
  #     width: 1920
  #     fps: 5

version: 0.17-0
notifications:
  enabled: true
  email: issurfer@gmail.com
